.imgContainer {
  height: 5rem;
}

.imgContent {
  height: 5rem;
  display: flex;
  align-items: center;
}

.posts {
  // max-width: 720px;
  margin: 5rem auto 0;

  a {
    display: block;

    & + a {
      margin-top: 2rem;
      padding-top: 2rem;
    }

    strong {
      display: block;
      font-size: 1.5rem;
      margin-top: 1rem;
      line-height: 2rem;
      transition: color 0.2s;
      color: var(--gray-100);
      font-weight: 700;
    }

    span {
      color: var(--gray-300);
      margin-top: 0.5rem;
      line-height: 1.625rem;
      font-weight: 400;
    }

    &:hover strong {
      color: var(--pink-500);
    }

    .info {
      margin-top: 0.5rem;
      height: 20px;
      display: flex;
      align-items: center;

      svg {
        width: 20px;
        height: 20px;
        color: var(--gray-400);
      }

      time {
        height: 20px;
        font-size: 1rem;
        display: flex;
        align-items: center;
        color: var(--gray-400);
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }

      span {
        height: 20px;
        font-size: 1rem;
        display: flex;
        align-items: center;
        color: var(--gray-400);
        margin: 0;
        margin-left: 0.5rem;
      }
    }
  }
}

.loadMore {
  color: var(--pink-500);
  font-weight: 600;
  font-size: 1rem;
  background: transparent;
  border: 0;
  margin-top: 2rem;

  transition: filter 0.2s;
  &:hover {
    filter: brightness(0.8);
  }
}
