.banner {
  width: 100%;
  object-fit: contain;
}

.post {
  strong {
    display: block;
    font-size: 2rem;
    margin-top: 1rem;
    line-height: 2rem;
    transition: color 0.2s;
    color: var(--gray-100);
    font-weight: 700;
  }

  .info {
    margin-top: 0.5rem;
    height: 20px;
    display: flex;
    align-items: center;

    svg {
      width: 20px;
      height: 20px;
      color: var(--gray-400);
    }

    time {
      height: 20px;
      font-size: 1rem;
      display: flex;
      align-items: center;
      color: var(--gray-400);
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    span {
      height: 20px;
      font-size: 1rem;
      display: flex;
      align-items: center;
      color: var(--gray-400);
      margin: 0;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
  }
}

.postContent {
  strong {
    display: block;
    font-size: 1.5rem;
    margin-top: 1rem;
    line-height: 2rem;
    transition: color 0.2s;
    color: var(--gray-100);
    font-weight: 700;
  }

  p {
    color: var(--gray-300);
    margin: 1.5rem 0;
    line-height: 1.5rem;
  }
}
